/* TABLE1 */
.table1 th {
    border: 2px solid black;
    border-collapse: collapse;
}

.table1 td {
    border: 2px solid black;
    border-collapse: collapse;
}

.table1 thead {
    background-color: aquamarine;
}

/* TABLE2 */
.table2 th {
    border: 2px solid black;
    border-collapse: collapse;
}

.table2 td {
    border: 2px solid black;
    border-collapse: collapse;
}

.table2 thead {
    background-color: green;
}
    